.ComboBox {
    text-align: left;
    width: 60%;
    margin: 16px auto;
}

.ComboBox .container{
    padding: 0;
}

.UserList-container {
    width: 60%;
    margin: 16px auto;
}

.UserList-item {
    margin: 16px auto;
}

.ImportUsers {
    text-align: left;
    width: 60%;
    margin: 16px auto;
}

.ImportUsers .button {
    width: 150px;
    margin-right: 16px;
    margin-left: 16px;
}
